.container{
    display: flex;
    /* flex-direction: row; */
    gap:20px;
    height: 100vh;
}

.groupContainer{
    width:20%;
    background-color: aqua;
    margin-left: 20px;
    padding: 20px;
}


.chatHeading{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px;
}


.chatContainer {
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 30px;
    /* max-width: 500px; */
    /* margin: auto; */
    width: 80%;
    background-color: rgb(0, 0, 255);
    margin-right: 20px;
}

/* .chatContainer{
    overflow: auto;
    max-height:400px
} */

.messageContainer {
    overflow: auto;
    border-radius: 20px;
   height: 800px;
   padding: 20px;
   background-color: white;
}

.btnContainer{
    max-width: 100%;
    display: flex;
    gap:1rem;
    padding: 5px;
    margin: auto;
}

.input{
        height: 30px;
        border-radius: 15px;
        padding: 5px;
    width: 500px; 
}

.btn {
    width: 100px;
    /* height: 3px; */
    border-radius: 10px;
    cursor: pointer;
}

.evenRow {
    display: flex;
    gap: 20px;
    background-color: bisque;
    padding: 5px;
    word-break: break-word;
    justify-content: flex-start;
    padding-right: 10px;
    border-radius: 10px;
}

.oddRow {
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 5px;
    word-break: break-word;
   justify-content: flex-end;
    padding-left: 30px;
    border-radius: 10px;
}