.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
    margin: auto;
}

.btnContainer{
    max-width: 100%;
    display: flex;
    gap:2px;
    padding: 5px;
}

.input{
 width: 450px; 
}

.evenRow {
    display: flex;
    gap: 20px;
    background-color: bisque;
    padding: 5px;
    word-break: break-word;
}

.oddRow {
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 5px;
    word-break: break-word;
}